.navbar {
background:url(bg1.png);
background-size:cover;
width: 100%
height: auto;

}

.nav-link {
	color: white;
} 
.navbar-toggler-icon {
	color: white;
}

.jumbotron {

}

.display {
	color: white;
}

.lead {
	color: white;
}

img {
max-width: 100%;
max-height:100%;
}


.map-responsive{

overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;

}

.map-responsive iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;

}

.fab {
	font-size: 40px;
	color: #f5d50a;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

.fab:hover {
	font-size: 40px;
	color: #f2eceb;
}

footer div {
	padding-top: 0.5rem;	
	padding-bottom: 0.5rem;	
}

body, html {
  height: 100%;
  margin: 0;
}

.fas {
	font-size: 40px;
	color: #23dbe8;
}

}

	
